#Executables
*.out
fillit

#Libraries
/libft/libft.a
libftprintf.a

#Folders
/coldstorage
/samples/
/rebuild
/includes/*
/test*
*dSYM/
libft/.gitignore
/misc_files

#dot files
._*

#Object Files
*.o
/objects

#Misc files
debug_ft_printf
*.pdf
tests.c
.DS_Store
*.py
*.swp
*.swo
*.txt
*.sh
.nfs*
*.gch
pft/
*main.c
